body {
  font-family: Georgia, Arial;
  font-size: 14pt;
  background-color: #000;
  color: #E6E6E6;
}
header {
  width: 100%;
  margin: auto;
  border-bottom: 1px solid #4CAF50;
}
.menuContainer {
  display: flex;
  padding: 2%;
  /*background: red;*/
}
.icon {
  font-size: 25pt;
  text-align: center;
  padding: 1% 4% 0 4%;
  /*border: 1px solid #4CAF50;*/
}
#container { /* Contains everything between header and footer */
  width: 100%;
  padding-top: 5%;
  /*background-color: grey;*/
}
#content, #contentProj {
  width: 70%;
  border: 1px solid #4CAF50;
  border-bottom: none;
  margin: auto;
  padding: 1% 3% 3% 3%;
}
#content { /* General contents properties */
  /*background: orange;*/
}
#contentProj { /* Project contents properties */
  /*background: blue;*/
}
footer{
  width: 100%;
  min-height: 100px;
  border-top: 1px solid #4CAF50;
  /*background-color: yellow;*/
}
a { /* General link properties */
  color: #4CAF50;
  text-decoration: none;
}
a:hover {
  color: #E6E6E6;
  text-decoration: none;
}
.icon a {
  color: #E6E6E6;
}
.icon a:hover {
  color: #4CAF50;
}
/********************************
*     START: Navigation Bar     *
*********************************/

/******* START: List Menu *******/
/*ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
}
li {
  float: left;
}
li a {
  display: block;
  color: #E6E6E6;
  text-align: center;
  width: 120px;
  padding: 15px 5px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #008000;
  border: 1px solid #4CAF50;
}*/
/******** END: List Menu ********/

/***** START: Dropdown Menu *****/
.dropbtn {
  font-family: Georgia, Arial;
  font-size: 20pt;
  background-color: #000;
  color: #E6E6E6;
  min-width: 50px;
  padding: 15px 5px;
  border: none;
  border: 1px solid #4CAF50;
  border-radius: 10px 10px 10px 0;
  cursor: pointer;
}
.dropbtn a {
  border: none;
  text-decoration: none;
}
.dropdown {
  position:relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 150px;
  background-color: #000;
}
.dropdown-content a {
    color: #E6E6E6;
    padding: 12px 16px;
    border: 1px solid #000;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
  /*background-color: #008000;*/
  border: 1px solid #4CAF50;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
  background-color: #008000;
  border: 1px solid #4CAF50;
  color: #000;
}
.dropdown:hover .dropbtn a {
  color: #E6E6E6;
  text-decoration: none;
}
/****** END: Dropdown Menu ******/

.active, a.active { /* Indicates the current page user is on */
  color: #4CAF50;
  font-weight: bold;
}

/********************************
*      END: Navigation Bar      *
*********************************/

/********************************/

/********************************
*  START: Local Navigation Bar  *
*********************************/

/********************************
*   END: Local Navigation Bar   *
*********************************/

#localNav {
  width: 65%;
  font-size: 20pt;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background: purple;*/
}
#localNav {
  margin: auto; /* Centering the nav bar*/
  /*padding-top: 2%;*/
}
#localNav li{
  float: left;
}
#localNav li a{
  color: #E6E6E6;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: 1px solid #4CAF50;
  border-bottom: none;
  padding: 10px 16px;
}
#localNav li a:hover{

}
#localNav li a#actLocal{ /* actLocal: currently on page for local nav bar */

}
