body {
  font-family: Georgia, Arial;
  background-color: #000;
  color: #FFF;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  width: 120px;
  padding: 15px 5px;
  text-decoration: none;
  /*background: red;*/
}
li a:hover:not(.active) {
  background-color: #008000;
  border: 1px solid #4CAF50;
}
.active {
  /*background-color: #FFF;*/
  color: #4CAF50;
  border: 1px solid #4CAF50;
}
