
		body {
			font-size: 12pt;
			font-family: helvetica;
			padding-left: 30px;
			padding-right: 50px;
			background: fixed;
			background-color:#A5C9A5;
		}
		h1 {
			text-align: center;
			font-size: 15pt;
			font-family: helvetica;
		}	
		h2 {
			font-family: a;
			width: auto;
		}	
		h3 {
			font-size: 10pt;
			font-family: helvetica;
		}
		h4 {
			font-size: 10pt;
			text-align: center;
			font-family: helvetica;
		}
		h5 {
			font-size: 12pt;
			font-family: helvetica;
		}
		h6 {
			font-size: 12pt;
			text-align: center;
			font-family: helvetica;
		}
		p {
			font-size: 12pt;
			font-family: helvetica;
			text-indent:20px;
			text-align:justify;
			text-justify:inter-word;
		} 
		.top {
			float:left;
			height:70px;
			margin-left: 30px;
			margin-top: 10px; 
  			padding-left: 5px;
  			padding-right: 5px;
		}
		.wflogo {
			float: left;
			border-radius: 20px;
			padding-top: 5px;
			box-shadow: 0px 0px 5px #888888;
  		}
		.home_page {
			float:left;
			margin-left: 15px;
			padding-top: 5px;
			border-radius: 10px;
			box-shadow: 0px 0px 5px #888888;
		}
		.content {
			width:95%;
			height:1200px;
			float: left;
			margin-left: 20px;
			margin-bottom: 10px;
			padding-bottom:60px; 
			border-radius: 2px;
  			background-color:#BCD7BC;
		}
		.sideimages {
			float: left;
			width:20%;
			margin-top: 20px;
			margin-left: 20px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.sideimages01 {
			margin-top: 80px;
			text-align: center;
		}
		.abstract {
			width: 65%;
			float:left;
			margin-top: 10px;
			padding-left: 30px;
			padding-right: 30px;
			padding-bottom: 10px;
		}
		.paragraph {
			font-size: 12pt;
			font-family: helvetica;
			width:auto;
			padding-left:20px;
			padding-right:20px;
			padding-top:10px;
			padding-bottom:20px;
			border-radius:5px;
  			background-color:#A5C9A5;
			box-shadow: 0px 0px 5px #E0E0E0;
		} 
		.others {
			text-align: center;
			font-size: 12pt;
			font-family: helvetica;
			width:auto;
			padding-left:20px;
			padding-right:20px;
			padding-top:10px;
			padding-bottom:20px;
			border-radius:5px;
  			background-color:#A5C9A5;
			box-shadow: 0px 0px 5px #E0E0E0;
		} 
		.hcilogo {
			position: fixed;
  			bottom: 0;
  			right: 0;
			float: right;
			margin-right: 100px;
			padding-left: 3px;
			padding-right: 3px;
			padding-top: 5px;
			padding-bottom: 0px;
  			border-top-left-radius: 20px;
  			border-top-right-radius: 20px;
  			border-style:solid;
			border-width:2px;
  			border-color:#F4F8F4; 
  			background-color: #A5C9A5;
		}
		.hangingindent {
    		padding-left: 22px ;
    		text-indent: -22px ;
    	}
    	table {
			width:100%;
			border-spacing:5px;
			font-size: 12pt;
			font-family: helvetica;
		}		
		th, td {
			padding:12px;
		}
		td {
			background-color:#BCD7BC;
		}
		a:link {
			color:#006400;
			text-decoration: none;
		} 
		a:visited {
			color:#006400;
		}
		a:hover {
			color:#FFFFFF;
		} 
		a:active {
			color:#FFFFFF;
		}

		