/* Yuqing Guo ISTE252 Lab 2: A Mobile Site */
body {
  font-family: Georgia, Arial;
  font-size: 12pt;
  background-image: url("../img/exo_black.png");
  color: #E6E6E6;
  margin: 0;
}
.content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.exoHome, .memberInfo {
  background-color: #000;
  color: #000;
  border: 2px solid #E6E6E6;
  padding: 10px;
  width: 100%;
  margin: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hpBtn, .nextBtn, .upBtn, .prevBtn {
  background-color: #000;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #E5E600;
  border-radius: 100px;
}
/*div.hpBtn, div.nextBtn, div.upBtn, div.prevBtn {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}*/
.hpBtn { /* Button for navigating to the home page */
  background-image: url("../img/navButton/exoLogoHomeYellow_tn.png");
}
.nextBtn { /* Button for navigating to the next page */
  background-image: url("../img/navButton/exoLogoRightYellow_tn.png");
}
.upBtn { /* Button for navigating to the top of the page */
  background-image: url("../img/navButton/exoLogoUpYellow_tn.png");
}
.prevBtn { /* Button for navigating to the previous page */
  background-image: url("../img/navButton/exoLogoLeftYellow_tn.png");
}
img { /* centering the images */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.exo, .stageName, .givenName, .jerseyNum {
  color: #E6E6E6; /* #E5E600 #45AA47 */
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  margin: 0;
  padding: 0 0 0.5% 0;
}
.pic, .memberInfoText {
  width: 90%;
  background: #E6E6E6;
  background-size: cover;
  padding: 10px;
}
.memberInfoText{
  /*color: #000;*/
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  border-top: 1px solid #000;
}
a {
  text-decoration: none;
}
